body,dl,dd,h1,h2,h3,h4,h5,h6,p,span{margin:0;padding:0px;}
body{font-family: "Helvetica Neue", Helvetica, STHeiTi, "Microsoft YaHei", Arial, sans-serif; position: relative;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
img{border: none;padding: 0;margin:0;}
em,i,b{font-style:normal;}
ul,ol{list-style:none;margin:0;padding:0;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
table{border-collapse:collapse;border-spacing:0;}
input,select,option{outline:none;}
/*html{ font-size: 20px; line-height: 1.5; width: 100%; height: 100%;}*/
/*body{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: relative;*/
/*}*/
.cf{zoom:1;}
.cf:after{content:''; display:block; height:0; clear:both;}