.skin1{
    background:#bc1c06 ;
}
.skin1 body{
	background: url("../images/bg.png") no-repeat;
	background-size: 100% auto;
}

.skin1 .my_record{
	position: absolute;
	right: 1rem;
	top: 7rem;
	color: #FFEAC1;
	font-size: 0.6rem;
	z-index: 19;
}
.skin1 .main{
	margin-top:8rem;
}

.skin1 .gb-turntable {
    position: relative;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
}
.skin1 .zhizheng{
	position: absolute;
	top: 0.96rem;
	left:7.435rem ;
	z-index: 10;
	width: 1.13rem;
	height: 2.5rem;
	background: url("../images/zhizhen.png") no-repeat;
	background-size: 100% 100%;
}
.skin1 .gb-turntable-container {
	background: url("../images/zp_bg.png") no-repeat;
	background-size: 100% 100%;
}

.skin1 .gb-turntable-container canvas {
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
}

/*.gb-turntalbe-list {*/
	/*position: absolute;*/
	/*left: 0;*/
	/*top: 0;*/
	/*width: inherit;*/
	/*height: inherit;*/
	/*z-index: 2;*/
/*}*/

.skin1 .gb-turntable-item {
	color: #e4370e;
}
  /* 装盘奖品背景颜色 */
.skin1 .gb-turntable-item:nth-child(2n){
	color: #984A08;
}
.skin1 .gb-turntable-item:nth-child(2n+1){
	color: #984A08;
}
.skin1 .gb-turntable-item span {
	position: relative;
	display: block;
	padding-top: 30px;
	/* width: 50px; */
	margin: 1rem auto 0;
	text-align: center;
	-webkit-transform-origin: 50% 7rem;
	-ms-transform-origin: 50% 7rem;
	transform-origin: 50% 7rem;
	font-size: 20px;
}
.skin1 .gb-turntable-item span p{
	margin-top: -5px;
}

.skin1 .gb-turntable-item img {
	width: 50px;
	height: 50px;
}
/* 转盘中间按钮样式 */
.skin1 .gb-turntable-btn {
	position: absolute;
	left: 5.6rem;
	top: 5.6rem;
	z-index: 3;
	width: 4.8rem;
	height:  4.8rem;
}
.skin1 .gb-turntable-btn-bg{
	background: url("../images/down.png") no-repeat;
	background-size: 100% 100%;
}
.skin1 .gb-turntable-btn-bg .click-text{
	color: #EE2C15;
}
.skin1 .gb-turntable-btn-bg .free_times{
	color: #EE2C15;
}
.skin1 .gb-turntable-btn-bg .no_free{
	color: #EE2C15;
}

/*  奖品记录弹窗列表样式 */
.skin1 .recordList .list-cont{
    background: rgb(250, 219, 160);
}
.skin1 .recordList .list-head{
    background: rgb(195,43,28);
    color: #fff;
}
.skin1 .recordList ul li{
    border-bottom: 1px solid #c5b7b7;
}
.skin1 .recordList  li span{
    color: #000;
}
.skin1 .recordList .close-list{
    background: #ffffff;
}



/* 皮肤2 */
.skin2{
	background:#7fc8eb;
}
.skin2 body{
	background: url("../images/skin2/skin2_bg.png") no-repeat;
	background-size: 100% 100%;
}

.skin2 .my_record{
	position: absolute;
	right: 1rem;
	top: 5.5rem;
	color: #fff;
	font-size: 0.6rem;
	z-index: 19;
}
.skin2 .main{
	margin-top:1rem;
}
.skin2 .main .theme{
	display: block;
	width: 80%;
	height: auto;
	margin: 0 auto;
}

.skin2 .gb-turntable {
	position: relative;
	width: 16rem;
	height: 16rem;
	border-radius: 50%;
}
.skin2 .zhizheng{
	position: absolute;
	top: 0.96rem;
	left:7.435rem ;
	z-index: 10;
	width: 1.13rem;
	height: 2.5rem;
	background: url("../images/zhizhen.png") no-repeat;
	background-size: 100% 100%;
	display: none;
}
.skin2 .gb-turntable-container {
	background: url("../images/skin2/skin2_zp_bg.png") no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

.skin2 .gb-turntable-container canvas {
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
}

/*.gb-turntalbe-list {*/
/*position: absolute;*/
/*left: 0;*/
/*top: 0;*/
/*width: inherit;*/
/*height: inherit;*/
/*z-index: 2;*/
/*}*/

.skin2 .gb-turntable-item {
	color: #e4370e;
}
/* 装盘奖品字体颜色 */
.skin2 .gb-turntable-item:nth-child(2n){
	color: #FF9A00;
}
.skin2 .gb-turntable-item:nth-child(2n+1){
	color: #fff;
}
.skin2 .gb-turntable-item span {
	position: relative;
	display: block;
	padding-top: 48px;
	/* width: 50px; */
	margin: 1rem auto 0;
	text-align: center;
	-webkit-transform-origin: 50% 7rem;
	-ms-transform-origin: 50% 7rem;
	transform-origin: 50% 7rem;
	font-size: 20px;
}
.skin2 .gb-turntable-item span p{
	margin-top: -5px;
}

.skin2 .gb-turntable-item img {
	width: 50px;
	height: 50px;
}
/* 转盘中间按钮样式 */
.skin2 .gb-turntable-btn {
	position: absolute;
	left: 6.4rem;
	top: 5.3rem;
	z-index: 3;
	width: 3.2rem;
	height:  4.48rem;
	background: url("../images/skin2/skin2_down.png") no-repeat;
	background-size: 100% 100%;
}
.skin2 .gb-turntable-btn-bg{
	display: none;
	background: url("../images/down.png") no-repeat;
	background-size: 100% 100%;
}
.skin2 .gb-turntable-btn-bg .click-text{
	color: #EE2C15;
}
.skin2 .gb-turntable-btn-bg .free_times{
	color: #EE2C15;
}
.skin2 .gb-turntable-btn-bg .no_free{
	color: #EE2C15;
}
/* 规则样式 */
.skin2 .rule{
	background: url("../images/skin2/skin2_hezi.png") no-repeat;
	background-position: left bottom;
	background-size: 100% auto;
	margin-bottom: 0rem;
	padding-bottom: 1rem;
}

/*  奖品记录弹窗列表样式 */
.skin2 .recordList .list-cont{
	background: rgb(250, 219, 160);
}
.skin2 .recordList .list-head{
	background: #e17676;
	color: #fff;
}
.skin2 .recordList ul li{
	border-bottom: 1px solid #c5b7b7;
}
.skin2 .recordList  li span{
	color: #000;
}
.skin2 .recordList .close-list{
	background: #ffffff;
}
.skin2 .btn-info{
	display: block;
}
.skin2 .btn-info p{
	font-size: 0.7rem;
	color: rgb(206,144,57);
	/*color: #FFD700;*/
}
.skin2  .rule .rule-cont p{
	color: #fff;
}