html,body{
    width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*padding: 20px;*/
    /*padding-top: 1.2rem;*/
}


/* 骤降记录按钮样式 */
.my_record{
    width: auto;
    height: auto;
    text-align: center;
    padding: 0.8rem 0;
}

.main{
    width: 100%;
    height:auto;
    position: relative;
}
.main .theme{
    display: none;
}
.gb-turntable {
    position: relative;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
}
.gb-turntable a.gb-turntable-btn {
    border: none;
}
.gb-turntable a.gb-turntable-btn:focus{
    border: none;
    outline-style:none;
    -moz-outline-style: none;
}
.gb-turntable ul,
.gb-turntable li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.gb-turntable-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border-radius: inherit;
    background-clip: padding-box;
    /*background-color: #ffcb3f;*/
    -webkit-transition: transform 6s ease;
    transition: transform 6s ease;
    width: 100%;
    height: 100%;
    padding-top: 1px;
}

.gb-turntable-container canvas {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

.gb-turntalbe-list {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    z-index: 2;
}

.gb-turntable-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
}

.gb-turntable-item span {
    position: relative;
    display: block;
    padding-top: 30px;
    /* width: 50px; */
    margin: 1rem auto 0;
    text-align: center;
    -webkit-transform-origin: 50% 7rem;
    -ms-transform-origin: 50% 7rem;
    transform-origin: 50% 7rem;
    font-size: 20px;
}
.gb-turntable-item span p{
    margin-top: -5px;
}


/* 转盘中间按钮样式 */
.gb-turntable-btn {
    position: absolute;
    left: 5.6rem;
    top: 5.6rem;
    z-index: 3;
    width: 4.8rem;
    height:  4.8rem;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.gb-turntable-btn-bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: url("../images/down.png") no-repeat;
    background-size: 100% 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.gb-turntable-btn-bg .click-text{
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    padding-top: 1.2rem;
}
.gb-turntable-btn-bg .free_times{
    text-align: center;
    font-size: 0.5rem;
}
.gb-turntable-btn-bg .no_free{
    text-align: center;
    font-size: 0.5rem;
}

/* 转盘奖品 带下哦 */
.prize-name{
    font-size: 12px;
}

/* 提示弹窗样式 */
.jconfirm-content .prize-name{
    display: inline-block;
    font-size: inherit;
}
.jconfirm {
    font-size: 14px;
}

/* 规则样式 */
.rule{
    width: 100%;
    height: auto;
    margin-bottom: 4rem;
}
.rule-title{
    width: 66%;
    height: auto;
    margin: 0 auto;
}
.rule .rule-cont{
    width: 80%;
    /*padding-left: 2.5rem;*/
    margin: 0 auto;
}
.rule .rule-cont p{
    font-size: 0.54rem;
    color: #FFEAC1;
    margin-bottom: 0;
    line-height: 2;
}
/*  奖品记录弹窗列表样式 */
.recordList{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}
.recordList .list-cont{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: auto;
    border-radius: 10px;
    /*background: rgba(0,0,0,0.5);*/
}
.recordList .list-head{
    display: flex;
    width: 90%;
    padding: 15px 5% 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.recordList .list-head span{
    width: 33.33%;
    text-align: center;
    font-size: 0.8rem;
}
.recordList ul{
    height: auto;
    min-height: 10rem;
    text-align: center;
}
.recordList ul li{
    display: flex;
    width: 90%;
    margin: 5px auto;
}
.recordList  li span{
    width: 33.33%;
    text-align: center;
    font-size: 0.6rem;
}
.recordList .close-list{
    position: absolute;
    right: -0.3rem;
    top: -0.3rem;
    z-index: 21;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    text-align: center;
    line-height: 1.2rem;
    font-size: 0.7rem;
}
/* 分页 */
#pagination{
    padding: 0 0 15px 0;
}

/*  */
.btn-info{
    display: none;
    font-size: 0.8rem;
    color: #ffffff;
    text-align: center;
}