
.btn1 {
  display: inline-block;
  text-align: center;
  color:white;
  font-weight: bold;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
}
.btn1:active{
  border-color: rgba(0,0,0,.3);
  background-color: #35BAA0;
}



.btn2 {
  display: inline-block;
  text-align: center;
  color:white;
  font-weight: bold;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
}
.btn2:active{
  border-color: rgba(0,0,0,.3);
  background-color: #E26A6A;
}

.product-buyer-name {
  max-width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lineLimit{
  display: block;
  width:77px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:clip;
}
