html,body{
    width: 100%;
    height: 100%;
    background: #FFD4AF;
}
.main{
    width: 100%;
    height: 100%;
    position: relative;
}
/*  公共样式 用户样式 */
.header{
    width: 84%;
    height: 2.85rem;
    margin: -5px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("../images/header_bg.png") no-repeat;
    background-size: 100% 100%;
}
.header .user_info{
    width: auto;
    height: 100%;
    padding: 0 0.8rem;
    display: flex;
    align-items: center;
}
.header .user_tx{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
    background-size: 100% 100%;
    display: block;
}
.header .user_name{
    width: auto;
    height: auto;
    font-size: 0.68rem;
    color: #0a151e;
    /*text-shadow: 0 2px #1A1514, 2px 0 #1A1514, -2px 0 #1A1514, 0 -2px #1A1514;*/
    /*-webkit-text-stroke:1px #1A1514;*/
    margin-left: 0.5rem;
}
.header .rule{
    width: 24.7%;
    height: 100%;
    display: flex;
    align-items: center;
    background: url("../images/rule_img.png") no-repeat center center;
    background-size: 100% auto;
    margin: 0 0.5rem;
}
.header .rule-img{
    width: 1.05rem;
    height: 1.05rem;
    border-radius: 50%;
    overflow: hidden;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 0.3rem;
    background: url("../images/ty_img.png") no-repeat;
    background-size: 100% 100%;
}
.header .an_score{
    width: auto;
    height: 100%;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    font-size: 0.68rem;
    color: #ffffff;
    /*text-shadow: 0 2px #1A1514, 2px 0 #1A1514, -2px 0 #1A1514, 0 -2px #1A1514;*/
    -webkit-text-stroke:1px #1A1514;
}
/* 公共样式 跪着弹窗 */
.rule_pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
}
.rule_main{
    position: absolute;
    top: 2.26rem;
    left: 8%;
    width: 84%;
    height: 18rem;
    background: url("../images/rule_bg.png");
    background-size: 100% 100%;
}
.close_rule{
    position: absolute;
    top: 100%;
    left: 50%;
    width: 1.6rem;
    height: 1.6rem;
    margin-left: -0.8rem;
    margin-top: 0.8rem;
    text-align: center;
    line-height: 1.6rem;
    border-radius: 50%;
    background: url("../images/close_pop.png") 100% 100%;
    background-size: 100% 100%;
}
.rule_cont{
    width: 100%;
    height: 100%;
    display: block;
}
.swiper-slide{
    width: 100%;
    height: 100%;
    padding: 1.3rem 2rem 1.3rem 1.4rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.rule_pop .title{
    color: #333333;
    font-size: 0.72rem;
    font-weight: bold;
}
.rule_pop .text{
    color: #666666;
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
    display: block;
}
.rule_pop .rule-slide1 ul{
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}
.rule_pop .rule-slide1 ul li{
    color: #666666;
    font-size: 0.6rem;
    list-style: disc;
    line-height: 1.4;
    padding: 0.3rem 0 0 0 ;
}
.rule_pop .swiper-pagination{
    bottom: 30px;
}
.rule_pop .swiper-pagination-bullet-active{
    background: #333333;
}


.tankuang{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.tankuang .tk_main{
    position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
    height: auto;
    min-height: 4rem;
    background: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding:3% 5%;
}
.tankuang .tk_title{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #323B43;
    font-size: 0.8rem;
}
.tankuang .tk_text{
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem 0 1rem 0;
}
.tankuang .tk_btn{
    display: block;
    width: 4rem;
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    border-radius: 3px;
    background: #FFD4AF;
    font-size: 0.8rem;
    margin: 0 auto;
}

.index{
    background: url("../images/index_bg.png") no-repeat;
    background-position: center 3.5rem;
    background-size: 100% auto;
    position: relative;
    z-index: 10;
}
.index_cont_bg{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3rem;
    background: rgb(194,194,194);
    z-index: 1;
}
.index .all_btn{
    position: absolute;
    bottom: 12%;
    height: auto;
    width: 100%;
}
.index .btn-group{
    width: 84%;
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.index .btn-group .btn{
    display: block;
    width: 47%;
    height: 4rem;
    background: #1abc9c;
}
.index .btn-group .answer{
    background: url("../images/index_btn1.png") no-repeat;
    background-size: 100% 100%;
}
.index .btn-group .history{
    background: url("../images/index_btn2.png") no-repeat;
    background-size: 100% 100%;
}
.index .prize_center{
    width: 84%;
    height: 3.6rem;
    margin: 0 auto;
    text-align: center;
    display: block;
    background: url("../images/index_btn3.png") no-repeat;
    background-size: 100% 100%;
}





/**
    答题页面
*/
/*.answer .user_info{*/
    /*width: 80%;*/
    /*height: auto;*/
    /*margin: 0 auto;*/
/*}*/
/*.answer .user_tx{*/
    /*width: 2rem;*/
    /*height: 2rem;*/
    /*border-radius: 50%;*/
    /*overflow: hidden;*/
    /*background: #1abc9c;*/
    /*float: left;*/
    /*vertical-align: middle;*/
/*}*/
/*.answer .user_name{*/
    /*float: left;*/
    /*width: auto;*/
    /*height: 2rem;*/
    /*line-height: 2rem;*/
/*}*/
.answer .an_score{

}
.answer .problem{
    width: 84%;
    margin: 0 auto;
}
.answer .problem .problem_title{
    font-size: 0.768rem;
    text-align: center;
    width: 100%;
    height: 5.54rem;
    background: url("../images/problem_bg.png") no-repeat;
    background-size: 100% 100%;
    padding: 0 1.32rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
.answer .problem ul li{
    width: 100%;
    height: 2.35rem;
    display: flex;
    align-items: center;
    background: url("../images/select_bg1.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 0.46rem;
    padding-left: 1rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 0.68rem;
    color: #333333;
}



.result .cont{
    width: 84%;
    height: 19.2rem;
    margin: 2.4rem auto 0;
    background: url("../images/result_bg.png") no-repeat;
    background-size: 100% 100%;
}
.result .re_title{
    width: 34%;
    height: auto;
    margin: 0 auto;
    padding-top: 1.28rem;
}
.result .re_number{
    width: 4.31rem;
    height: 4.31rem;
    text-align: center;
    line-height: 4.31rem;
    margin: 1rem auto 0;
    border-radius: 50%;
    overflow: hidden;
    background:#FECA19;
    font-size: 2.8rem;
    color: #FFFFFF;
    -webkit-text-stroke:3px #1A1514;
    font-weight: bold;
}
.result .re_img{
    width: 63.5%;
    height: auto;
    margin: 1rem auto 0;
}
.result .an_btn{
    display: block;
    width: 44.44%;
    height: 2.56rem;
    background: url("../images/result_return.png") no-repeat;
    background-size: 100% 100%;
    margin: 1rem auto 0;
}


.history .cont{
    width: 84%;
    height: 21.33rem;
    margin: 1.536rem auto 0;
    background: url("../images/rule_bg.png") no-repeat;
    background-size: 100% 100%;
}
.history .his_title{
    width: 21%;
    height: auto;
    padding-top: 1.322rem;
    margin: 0 auto;
}
.history .all_score{
    font-size: 1.7rem;
    color: #FFFFFF;
    -webkit-text-stroke:3px #1A1514;
    text-align: center;
    margin-top: 0.5rem;
}
.history .his_list{
    width: 88.88%;
    height: auto;
    margin: 0 auto;
    background: #F5EEE9;
    border-radius: 5px;
}
.history .his_list li{
    width: 90%;
    margin: 0 auto;
    height: 1.4rem;
    line-height: 1.4rem;
    position: relative;
    padding: 10px 0;
}
.history  .li_left{
    width: 16.4%;
    float: left;
    height: 100%;
}
.history  .li_right{
    width: auto;
    float: right;
    height: 100%;
    font-size: 12px;
}
.history  .li_right img{
    margin-top: -5px;
}
.history  .li_right .score_num{
    font-size: 0.8rem;
    display: inline-block;
    height: 100%;
    width: 1.5rem;
}
.history  .li_right .list_img{
    width: 37%;
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}
.history .li_num {
    width: auto;
    display: inline-block;
}

.history .an_btn{
    display: block;
    width: 44.44%;
    height: 2.56rem;
    background: url("../images/result_return.png") no-repeat;
    background-size: 100% 100%;
    margin: 1rem auto 0;
}



.center .cont{
    width: 84%;
    height: 19.2rem;
    margin: 2.4rem auto 0;
    background: url("../images/result_bg.png") no-repeat;
    background-size: 100% 100%;
}
.center .main_cont{
    width: 100%;
    height: 75%;
}
.center .center_btn{
    display: block;
    width: 44.44%;
    height: 2.56rem;
    background: url("../images/result_return.png") no-repeat;
    background-size: 100% 100%;
    margin: 1rem auto 0;
}
.center .center_text{
    text-align: center;
    font-size: 0.6rem;
    color: #66524F;
    padding-top: 0.8rem;
}
.center .main1{
    padding-top: 0.1rem;
}
.center .main1 .center_img{
    width: 88.88%;
    height: auto;
    margin: 0.5rem auto 0;
    font-size: 0;
}
.center .main1 .center_img img{
    width: 100%;
    height: auto;
}
.center .main_title{
    text-align: center;
    padding-top: 1.8rem;
    color: #66524F;
    font-size: 0.6rem;
}
.center .main_num{
    height: 1.1rem;
    line-height: 1.1rem;
    text-align: center;
    margin-top: 0.5rem;
}
.center .main_num span{
    color: #FFFFFF;
    font-size: 0.68rem;
    -webkit-text-stroke:1px #1A1514;
}
.center  .your_prize{
    margin-top: 1.8rem;
    text-align: center;
    color: #66524F;
    font-size: 0.6rem;
}
.center .prize_cont{
    width: 88.88%;
    margin: 0.8rem auto 0;
    font-size:1rem;
    color: red;
    text-align: center;
    padding: 0.9rem 0;
    background: #F5EEE9;
    border-radius: 5px;
}