.btn {
  display: inline-block;
  text-align: center;
  color:white;
  font-weight: bold;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
}
.btn:active{
  border-color: rgba(0,0,0,.3);
  background: #939393;
}



.btn1 {
  display: inline-block;
  text-align: center;
  color:white;
  font-weight: bold;
  border-width: 0px;
  border-color: transparent;
  background-color: #35BAA0;
}
.btn1:active{
  border-color: rgba(0,0,0,.3);
  background-color: #48E6C0;
}



.btn2 {
  display: inline-block;
  text-align: center;
  color:white;
  font-weight: bold;
  border-width: 0px;
  border-color: transparent;
  background-color: #E26A6A;
}
.btn2:active{
  border-color: rgba(0,0,0,.3);
  background-color: #FF7070;
}

.btn3 {
  display: inline-block;
  text-align: center;
  color:white;
  font-weight: bold;
  border-width: 0px;
  border-color: transparent;
  background-color: #4f83e5;
}
.btn3:active{
  border-color: rgba(0,0,0,.3);
  background-color: #c2cae5;
}

.title{
  width:80px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
